################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AetherSenseRedux/bin/x64
/AetherSenseRedux/obj
/AetherSenseReduxTooTests
/Tests
